# stockfish 

    # Files from build
    **/*.o
    **/*.s
    src/.depend

    # Built binary
    */stockfish*
    */-lstdc++.res

    # Neural network for the NNUE evaluation
    **/*.nnue

# other

*/exec/*
*.vscode

*/logs/*

run
run.exe
run-arm64
run-arm32

*/launch*
*/parsefish*
*/sendfish*