# stockfish 

    # Files from build
    **/*.o
    **/*.s
    src/.depend

    # Built binary
    src/stockfish*
    src/-lstdc++.res

    # Neural network for the NNUE evaluation
    **/*.nnue

# other

*exec/*
!*exec
*.vscode

run
run.exe
run-arm64
run-arm32